body {
    background-color: lightgreen;
    /* Smoothly transition the background color */
    transition: background-color .5s;
}

.box {
    position: fixed;
    top:-90px;
    left:0;
    z-index: 1000;
    width: 334px;
    height: 980px;

    border: none;
    padding: 0;
    margin: 0;
}

.welcome_banner {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 269.7814%;
    padding-bottom: 30px;
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    margin-bottom: 0.9em;
    overflow: hidden;
    border-radius: 8px;
    will-change: transform;
}

/* Using flex with the column direction to
align items in a vertical direction */
.player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    margin-left:114px
}
.wrapper{
    padding-left:0;
    margin-left:-103px;
    z-index: 3;
}
.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: -25px;
    font-family: 'MisoBold', sans-serif;
}

.track-art {
    margin: 30px 30px 30px;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    shape-rendering: crispEdges;
}

/* Changing the font sizes to suitable ones */
.now-playing {
    font-size: 1rem;

}

.track-name {
    font-size: 3rem;
}

.track-artist {
    font-size: 1.5rem;
}

/* Using flex with the row direction to
align items in a horizontal direction */
.buttons {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-left: 23px;
}

.playpause-track,
.prev-track,
.next-track {
    padding: 20px;
    opacity: 0.8;

    /* Smoothly transition the opacity */
    transition: opacity .2s;
}

/* Change the opacity when mouse is hovered */
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
    cursor: pointer;
}

/* Define the slider width so that it scales properly */
.slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -65px;
    position: absolute;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: auto;
    height: 2px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
    opacity: 3.0;
}

.seek_slider {
    width: 90%;
}

.volume_slider {
    width: 40%;
    margin-top: 50px;
}

.current-time,
.total-duration {
    padding: 10px;
    cursor: pointer;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

/* Change the mouse cursor to a pointer
when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
}




